@model WebUI4.Models.InvitationModel
@using System.Configuration
@using WebUI4.Models
@{
    ViewBag.Title = "Invitation to " + ConfigurationManager.AppSettings["ApplicationName"];
}
@section Banner{
    <h2>
        My Friends</h2>
}
<div>
    <div class="ui-helper-clearfix">
        <div class="left-col">
            @WebUI4.Resources.Referrals.InviteYourFriendsVia
            <div class="ui-helper-clearfix">
                <ul id="invitationMenu" class="menutab" style="margin-top: 15px">
                    <li class="selected" data-target="emailInvitation"><a title="">
                        <img src="http://media.altovientosolutions.com/dryicons/png/32x32/email.png" />
                        Email </a></li>
                    <li data-target="facebookInvitation"><a id="facebookTab" title="">
                        <img src="http://media.altovientosolutions.com/dryicons/png/32x32/facebook.png" />
                        Facebook </a></li>
                    <li data-target="twitterInvitation"><a id="twitterTab" title="">
                        <img src="http://media.altovientosolutions.com/dryicons/png/32x32/twitter.png" />
                        Twitter </a></li>
                </ul>
            </div>
            <div id="pane">
                <div id="emailInvitation" style="display: block;">
                    @{using (Html.BeginForm())
                      {
                        @WebUI4.Resources.Referrals.YourFriendsEmailAddress
                        <text>:
                        <div class="editor-line">
                            @Html.TextBoxFor(x => x.Email, new { placeholder = "Email Address" })
                            @Html.ValidationMessageFor(m => m.Email)
                        </div>
                        <br />
                        <hr />
                        @WebUI4.Resources.Referrals.Hi
                        @Html.TextBoxFor(x => x.FirstName, new { placeholder = WebUI4.Resources.Account.FirstName })
                        <br />
                        @Html.Raw(String.Format(WebUI4.Resources.Referrals.IveBeenUsingXX, ConfigurationManager.AppSettings["ApplicationName"]))
                        <p>
                            - @AccountHelper.GetProfileName(AccountHelper.ProfileNameFormat.FirstNameOnly)</p>
                        <div class="buttons">
                            <input type="submit" name="send" value="@WebUI4.Resources.Referrals.SendInvitation" />
                        </div>
                        </text>
                      }
                    }
                </div>
                <div id="facebookInvitation" style="display: none;">
                    <a name="fb_share" type="icon_link" share_url="http://challenge2033.com/Referrals/Welcome/xhdkfhheofo30569fk">
                        Compartir en Facebook</a>
                    <script src="http://static.ak.fbcdn.net/connect.php/js/FB.Share" type="text/javascript">
                    </script>
                </div>
                <div id="twitterInvitation" style="display: none;">
                    Tweet this.
                </div>
            </div>
        </div>
        <div class="right-col gray_gradient" style="font-size: 0.85em; color: #888; border: 1px solid #ccc;
            padding: 20px">
            <p>@Html.Raw(String.Format(WebUI4.Resources.Referrals.InviteYourFriends, ConfigurationManager.AppSettings["ApplicationName"]))
            </p>
            <p>
                @Html.Raw(WebUI4.Resources.Referrals.WhenYouJoin)
            </p>
        </div>
    </div>
</div>
@section Header{
    <style type="text/css">
        #pane
        {
            margin: 0px;
            width: 456px;
            font-family: Lucida Console;
            font-size: 0.85em;
            color: #668;
            line-height: 2em;
            padding: 20px;
            border: 1px solid #bbb;
            border-top: 0px none;
        }
        
        
        /* Overrides to the menutab to create a tab menu associated to a panel.  */
        
        .menutab li
        {
            width: 134px;
            border-radius: 0px;
            margin: 0px;
        }
        
        .menutab li.selected
        {
            width: 134px;
            border-radius: 0px;
            margin: 0px;
            border-bottom-color: transparent;
            background: #FFF;
        }
    </style>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $('#invitationMenu li').live('click', function () {

                $('#invitationMenu li').removeClass('selected');
                $(this).addClass('selected');

                $('#pane > div').css('display', 'none');

                var targetId = $(this).attr('data-target');
                $('#' + targetId).css('display', 'block');

            });

        });
    </script>
}
