@model WebUI4.Models.PasswordRetrievalModel
@using System.Configuration;

<body style="background-color: #002E55">
<div style="padding: 0px; margin: 0px; background-color: #002E55;text-align:center;width:100%;font-family:Trebuchet MS;font-size:16px;">
    <div style="background-color:#fff;width:600px;margin:0px auto;text-align:left;border-radius:6px;padding:10px;font-family:">
        
        <p>@String.Format(WebUI4.Resources.MailTemplates.PasswordReset_WeAreSendingYouThisMessage, ConfigurationManager.AppSettings["ApplicationName"]) </p>
        
        <h4 style="background-color:#002E55;padding:5px;color:#eee;">@WebUI4.Resources.MailTemplates.PasswordReset_ResetYourPassword</h4>
        
        <p>@WebUI4.Resources.MailTemplates.PasswordReset_ToResetYourPassword</p>
        
        <p><a href="@this.Model.Url ">@this.Model.Url </a></p>
        
        <p>@WebUI4.Resources.MailTemplates.Common_IfYouNeedAssistanceContactUs</p>
        
        <p>@WebUI4.Resources.MailTemplates.Common_IfYouDidNotRequestThisAction</p>
        
    </div>
</div>
</body>
