@model WebUI4.Models.RegistrationModel
@using System.Configuration

<body style="background-color: #002E55">
    <div style="padding: 0px; margin: 0px; background-color: #002E55; text-align: center;
        width: 100%; font-family: Trebuchet MS; font-size: 16px;">
        <div style="background-color: #fff; width: 600px; margin: 0px auto; text-align: left;
            border-radius: 6px; padding: 10px; font-family: ">
            
            <p>@String.Format(WebUI4.Resources.MailTemplates.Hi, this.Model.FirstName) </p>
            <p>
                @String.Format(WebUI4.Resources.MailTemplates.Registration_ThanksForRegistering, ConfigurationManager.AppSettings["ApplicationName"]) <br />
                @WebUI4.Resources.MailTemplates.Registration_YouHaveLoggedInUsingFacebook
            </p>
            
            <p><b>@WebUI4.Resources.MailTemplates.Registration_UserName :</b>
                @this.Model.UserName<br />
                <b>@WebUI4.Resources.MailTemplates.Registration_Password </b>
                @this.Model.Password<br />
            </p>
            <p>@WebUI4.Resources.MailTemplates.Common_IfYouNeedAssistanceContactUs</p>
        </div>
    </div>
</body>
