@model WebUI4.Models.ChangePasswordModel
@{
    ViewBag.Title = WebUI4.Resources.Account.ChangePassword;
}

@section Banner{
    @Html.Partial("_AccountMenu")
}

<h2>@WebUI4.Resources.Account.ChangePassword</h2>
<p>
    @String.Format(WebUI4.Resources.Account.PasswordMinimumLength, Membership.MinRequiredPasswordLength)
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, WebUI4.Resources.Account.ErrorPasswordCouldNotBeChanged)
    
    <div class="editor">
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="buttons">
                <input type="submit" value="@WebUI4.Resources.Account.ChangePassword" />

                @Html.ActionLink(WebUI4.Resources.Common.Cancel, "Index", "Home")
            </div>
        </div>
    </div>
}
