@model WebUI4.Models.LogOnModel
@{
    ViewBag.Title = "Log On";
}

@section Banner{
    @Html.Partial("_AccountMenu")
}

<h2>@WebUI4.Resources.Account.LogIn</h2>
<p>@Html.Raw(String.Format(WebUI4.Resources.Account.PleaseEnterUsernameAndPassword, Url.Content("~/Account/Register")))
</p>
@Html.ValidationSummary(true, WebUI4.Resources.Account.ErrorLogin)
@using (Html.BeginForm())
{
    <div class="editor">
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.UserNameOrEmail)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserNameOrEmail)
                @Html.ValidationMessageFor(m => m.UserNameOrEmail)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="buttons">
                <input type="submit" value="@WebUI4.Resources.Account.LogIn" />

                @Html.ActionLink(WebUI4.Resources.Common.Cancel, "Index", "Home")
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div style="text-align:center;">
                @Html.ActionLink(WebUI4.Resources.Account.CantAccessYourAccount, "RetrievePassword", "Account")
            </div>
        </div>

    </div>
}
