@model WebUI4.Models.RegistrationModel
@{
    ViewBag.Title = "Register";
}
@section Banner{
    @Html.Partial("_AccountMenu")
}

<h2>@WebUI4.Resources.Account.Register</h2>
<p>
    @String.Format(WebUI4.Resources.Account.PasswordMinimumLength, Membership.MinRequiredPasswordLength)
</p>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, WebUI4.Resources.Account.AccountCreationUnsuccessful)
    <div class="editor">
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.FirstName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="editor-label">
                @Html.LabelFor(m => m.LastName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>
        </div>
        <div class="editor-line ui-helper-clearfix">
            <div class="buttons">
                <input type="submit" value="@WebUI4.Resources.Account.Register" />

                @Html.ActionLink(WebUI4.Resources.Common.Cancel, "Index", "Home")
            </div>
        </div>
    </div>
}
