@model WebUI4.Models.ResetPasswordModel
@using System.IO
@using System.Configuration
@section Header {
    <link href="@Url.Content("~/Content/css/Account.css")" rel="stylesheet" type="text/css" media="all" />
    <script src="http://static.new.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"
        type="text/javascript"></script>
    <script type="text/javascript">
        function performLogin() {
            window.location = '@Url.Content("~/Account/FacebookConnect")';
        }
    </script>
}

@section Banner{
    @Html.Partial("_AccountMenu")
}

<h2>@WebUI4.Resources.Account.ResetPassword</h2>
<div class="editor">
    @{ using (Html.BeginForm())
       {
        <div class="validation-summary">
            @Html.ValidationSummary(true, WebUI4.Resources.Account.ErrorLogin)</div>
        <div>
            <p>@WebUI4.Resources.Account.EnterPassword</p>

            @Html.HiddenFor(m => m.UserNameOrEmail)
            
            <div class="validation-message">@Html.ValidationMessageFor(m => m.UserNameOrEmail)</div>
            <div class="editor-line ui-helper-clearfix">
                <div class="editor-label">@Html.LabelFor(m => m.Password)</div>
                <div class="editor-field">@Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)</div>
            </div>
            <div class="editor-line ui-helper-clearfix">
                <div class="editor-label">@Html.LabelFor(m => m.ConfirmPassword)</div>
                <div class="editor-field">@Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)</div>
            </div>
            <div class="editor-line ui-helper-clearfix">
                <div class="buttons">
                    <input type="submit" value="@WebUI4.Resources.Account.ResetPassword" />
                    @Html.ActionLink(WebUI4.Resources.Common.Cancel, "Index", "Home")
                </div>
            </div>
        </div>
@*<div xmlns:fb="http://www.facebook.com/2008/fbml">
                @if (!User.Identity.IsAuthenticated)
                    {
                        <h3>@Html.Resource("LoginUsingFacebook")</h3>
                        <br />
                        <fb:login-button onlogin="performLogin();">
                        </fb:login-button>
                        <br />
                    }
                <br />
                <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php"
                    type="text/javascript"></script>
                <script type="text/javascript">
                    FB.init('@ConfigurationManager.AppSettings["FacebookApiKey"]', '@Path.Combine(ConfigurationManager.AppSettings["ApplicationRoot"], "xd_receiver.htm")', {
                        permsToRequestOnConnect: 'email,publish_stream'
                    });
                </script>
            </div>*@
       }
    }
</div>
