@model WebUI4.Models.RetrievePasswordModel
@section Banner{
    @Html.Partial("_AccountMenu")
}

<div class="box ui-helper-clearfix">
    <h2>@WebUI4.Resources.Account.RetrievePassword</h2>
    <div>
        <p>@WebUI4.Resources.Account.ForgotYourPassword</p>
        <p>@WebUI4.Resources.Account.RetrievePasswordUsingEmail</p>
    </div>
    @{using (Html.BeginForm())
      {
        <text>
        <div class="editor">
            <div class="editor-line ui-helper-clearfix">
                <div class="line ui-helper-clearfix">
                    <div class="editor-label">@Html.LabelFor(m => m.Email)</div>
                    <div class="editor-field">@Html.TextBoxFor(m => m.Email)
                    @Html.ValidationMessageFor(m => m.Email)</div>
                </div>
            </div>
            <div class="editor-line ui-helper-clearfix">
                <div class="ui-helper-clearfix">
                    <div style="" class="buttons">
                        <button type="submit" class="positive">@WebUI4.Resources.Account.RetrievePassword</button>
                    
                        @Html.ActionLink("Cancel", "Index", "Home", null, new { @class = "negative cancel" })
                    </div>
                </div>
            </div>
        </div>
        </text>
      }
    }
</div>
