@model bool

@section Header {
    <link href="@Url.Content("~/Content/css/Account.css")" rel="stylesheet" type="text/css" media="all" />
}

@section Banner{
    @Html.Partial("_AccountMenu")
}

<div class=" ui-helper-clearfix">
    <h2>Account Validation</h2>

    @{ bool isValid = this.Model;
        if (isValid)
        {
         <text>Congratulations!  Start enjoying WebUI.com, we suggest you start here:
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Your Profile", "Profile", "Account")</li>
            </ul></text>
        }
        else
        {    
            <text>Your account could not be validated.  You can try one of the following: 
            <ul>
                <li>@Html.ActionLink("Retrieve your password", "RetrievePassword", "Account").</li>
                <li>@Html.ActionLink("Create an account", "Home", "Register") if you have not created one.</li>
                <li>@Html.ActionLink("Log In Using Facebook", "Home", "Register") for a faster way to create an account.</li>
            </ul></text>            
        }    
    }
</div>

