@using System.Configuration
@using AltovientoSolutions.Common.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@(!String.IsNullOrEmpty(ViewBag.Title) ? ViewBag.Title : ConfigurationManager.AppSettings["ApplicationName"])
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="@ViewBag.MetaDescription" />
    <meta name="robots" content="@ViewBag.Robots" />
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.css" />
    @* ------------------------------------------------- *@
    <link href="@Url.Content("~/Content/css/site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Header", false)
    <!-- Change the UA-XXXXX-X to be your site's ID  -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '@ConfigurationManager.AppSettings["GoogleAnalyticsKey"]']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);
    </script>
</head>
<body>
    @RenderBody()
    <!-- /page -->
    <!-- Javascript at the bottom for fast page loading -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/mobile/1.0rc1/jquery.mobile-1.0rc1.min.js"></script>
    <!-- Add all scripts here.-->
    @RenderSection("Scripts", false)
    @* Google Analytics Async Script *@
    <script type="text/javascript">
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
